.App {
  text-align: center;
}

.header{
  display: flex;
  gap: 30px;
}

.add-car-box, .edit-car-box{
  display: flex;
  gap: 20px;
}

.race-field{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.race-field div{
  border: 1px solid red
}
.race-field button{
  border: 1px solid blue;
}