@import helpers

.header
    @include horizontal()
    height: 50px
    gap: 30px
    a
        font-size: 25px
        background-color: #2F4858
        color: #fff
        border-radius: 10px
        padding: 5px 10px

.controls
    @include horizontal()
    min-height: 40px
    margin: 30px 0
    gap: 15px
    flex-wrap: wrap
    button
        height: 40px
        border-radius: 5px
        width: max-content
        padding: 5px 10px

#race-btn
    background-color: #00A764
    color: #fff

#reset-btn
    background-color: #D36956
    color: #fff
    
#more-cars-btn
    background-color: #F4E482

.add-car-box, .edit-car-box
    @include horizontal()
    height: 40px
    gap: 20px
    input
        height: 100%
.add-car-box
    button
        background-color: #969AF6
        color: #fff
.edit-car-box
    button
        background-color: #0096D9
        color: #fff

.race-field
    width: 100%
    display: flex
    flex-direction: column
.car-obj
    width: 100px
    height: 80px
    transform: rotate(90deg)
    position: relative
    z-index: 1
    .car-container
        width: 100%
        height: 100%
    svg
        width: 100%
        height: 100%
    &.moving
        transition: margin 1s ease-in-out

.car-lane
    width: 100%
    height: 150px
    background-color: #BFC9CA 
    @include horizontal(flex-start)
    position: relative
    border-bottom: 10px dashed #fff
    .car-controls
        max-width: 100px
        @include verticalCenter()
        gap: 5px
        button
            border-radius: 5px
            padding: 0 5px
    span
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        font-size: 35px

#delete-btn
    background-color: rgba(#D36956, 0.7)
#select-btn
    background-color: rgba(#0096D9, 0.7)
#start-btn
    background-color: rgba(#00A764, 0.7)
#stop-btn
    background-color: rgba(#F4E482, 0.7)

    
.color-picker
    position: relative
    width: 40px
    height: 40px
    // input
    //     position: absolute
    //     top: 0
    //     left: 0
    //     width: 100%
    //     height: 100%
.finish-line
    width: 150px
    height: 50px
    border: 1px solid black
    background-color: #BFC9CA 
    @include verticalCenter()
    transform: rotate(90deg)
    position: absolute
    bottom: 40px
    right: 0
    z-index: 0
    .upper-line, .lower-line
        width: 100%
        height: 100%
        @include horizontal() 
    .box
        width: 100%
        height: 100%
        background-color: #fff
    .upper-line
        .box
            &:nth-child(2n)
                background-color: black
    .lower-line
        .box
            &:nth-child(2n-1)
                background-color: black
                

#winner-banner-container
    display: block
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 5 
    font-size: 20px
    @include plus769()
        font-size: 35px
    h1
        color: #fff
    &.hidden
        display: none
    .winner-banner
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        max-width: 100%
        width: max-content
        padding: 50px 100px
        background-color: #57B49D
        border-radius: 20px
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px

#close-btn
    width: 40px
    height: 40px
    @include horizontal()
    background-color: #fff
    border-radius: 50%
    position: absolute
    top: -10px
    right: -10px
    cursor: pointer

.pagination-container
    @include horizontal()
    gap: 20px
    padding-top: 20px
    font-size: 20px
    button
        background-color: #fff
        padding: 0 5px
        border-radius: 5px